<app-header></app-header>

<div class="row w-100">
    <div class="col-md-1"></div>
    <div class="col-md-5 d-flex align-items-center justify-content-center">
        <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg" alt="no image" class="w-100">
    </div>
    <div class="col-md-5 d-flex align-items-center justify-content-center p-5">
        <form #loginForm="ngForm" class="p-3 border rounded shadow w-100 formbg" (ngSubmit)="login()">
            <h2 class="text-center text-light text-dark">Login Form</h2>
            <div class="mt-3">
                <input #adminMail ="ngModel" class="form-control" name="mail" [(ngModel)]="email" placeholder="Email" type="text" required email>
                <span *ngIf="adminMail.invalid && adminMail.touched" class="text-danger">*Invalid input</span>
            </div>
            <div class="mt-3">
                <input #adminPswd="ngModel" class="form-control" placeholder="Password" name="pswd" [(ngModel)]="password" type="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{4,}$">
                <span *ngIf="adminPswd.invalid && adminPswd.touched" class="text-danger">*Invalid input</span>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <button [disabled]="loginForm.invalid && loginForm.touched" class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>